body {
    font-family: 'Cormorant Garamond', serif;
    background-color: #f9fbfd;
}

.wrapper {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

header {
    text-align: center;
}